.card-container{
    width: 100vw;
    margin: 12.5% 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    grid-auto-flow: column;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.card{
    background-color: gray;
    border: solid black 1px;
    border-radius: 20px;
    width: 31vw;
    padding: 5rem 0;
    margin: 0 20px;
    scroll-snap-align: none start;
}

@media screen and (max-width: 500px){
    .card{
        width: 90vw;
    }
}